<!-- Side Navbar -->
<nav class="side-navbar">
    <div class="side-navbar-wrapper">
        <!-- Sidebar Header    -->
        <div class="sidenav-header d-flex align-items-center justify-content-center">
            <!-- User Info-->
            <!-- <div class="sidenav-header-inner text-center"><img src="./assets/img/avatar-7.jpg" alt="person" class="img-fluid rounded-circle">
                <h2 class="h5">Nombre del usuario</h2><span>Cargo del usuario </span>
            </div> -->
            <!-- Small Brand information, appears on minimized sidebar-->
            <!-- <div class="sidenav-header-logo">
                <a href="index.html" class="brand-small text-center"> <strong>B</strong><strong class="text-primary">D</strong></a>
            </div> -->
        </div>
        <!-- Sidebar Navigation Menus-->
        <div class="main-menu">
            <h5 class="sidenav-heading">Menú</h5>
            <ul id="side-main-menu" class="side-menu list-unstyled">
                <li routerLinkActive="active">
                    <a [routerLink]="['users']"> <i class="fa fa-bars"></i>Diagramas</a>
                </li>
                <li>
                    <!-- <a [routerLink]="['tables']"> <i class="fa fa-desktop"></i>Tablas</a> -->
                    <a href="#catalogosDropdown" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-table"></i>Tablas</a>
                    <ul id="catalogosDropdown" class="collapse list-unstyled" *ngFor="let schemaTable of schemasTables">
                        <li><a type="button" (click)="infoSchemaTable(schemaTable)" routerLinkActive="active">{{schemaTable.tableName}}</a></li>
                        <!-- <li><a [routerLink]="['unitMeasure']"><i class="icon-form"></i>Unidades de medidas</a></li>
                        <li><a href="#"><i class="icon-form"></i>Tipos de servicios</a></li>
                        <li><a [routerLink]="['products']"><i class="icon-form"></i>Productos</a></li>
                        <li><a href="#"><i class="icon-form"></i>Precios de servicios</a></li> -->
                    </ul>
                </li>

                <!-- <li>
                    <a [routerLink]="['personas']"> <i class="fa fa-building"></i>Organización</a>
                </li>
                <li>
                    <a href="#"> <i class="fa fa-university"></i>Ciber</a>
                </li>
                <li>
                    <a href="#catalogosDropdown" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-bars"></i>Catálogos</a>
                    <ul id="catalogosDropdown" class="collapse list-unstyled ">
                        <li><a [routerLink]="['unitMeasure']"><i class="icon-form"></i>Unidades de medidas</a></li>
                        <li><a href="#"><i class="icon-form"></i>Tipos de servicios</a></li>
                        <li><a [routerLink]="['products']"><i class="icon-form"></i>Productos</a></li>
                        <li><a href="#"><i class="icon-form"></i>Precios de servicios</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#reportesDropdown" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-bars"></i>Reportes</a>
                    <ul id="reportesDropdown" class="collapse list-unstyled ">
                        <li><a href="#"><i class="icon-form"></i>Sesión por servicios</a></li>
                        <li><a href="#"><i class="icon-form"></i>Reporte de equipos</a></li>
                    </ul>
                </li> -->
            </ul>
        </div>
        <!-- <div class="admin-menu">
            <h5 class="sidenav-heading">Usuario</h5>
            <ul id="side-admin-menu" class="side-menu list-unstyled">
                <li>
                    <a [routerLink]="['users']"> <i class="fa fa-user-plus"> </i>Registrar usuarios</a>
                </li>
            </ul>
        </div> -->
    </div>
</nav>