<div class="breadcrumb-holder">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Tablas</a></li>
            <li class="breadcrumb-item active">{{schemaTable.tableSchema}}</li>
            <li class="breadcrumb-item active">{{schemaTable.tableName}}</li>
        </ul>
    </div>
</div>
<section class="dashboard-header section-padding">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header bg-default">
                <div class="row">
                    <div class="col-md-auto">
                        <i class="fa fa-table fa-lg"></i>
                    </div>
                    <div class="col-md-auto">
                        <h5>{{schemaTable.tableName}}</h5>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Schema: {{schemaTable.tableSchema}}</h5>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Name: {{schemaTable.tableName}}</li>
                            <li class="list-group-item">Type: {{schemaTable.tableType}}</li>
                        </ul>
                    </div>
                    <div class="card">
                        <div class="card-header bg-default">
                            <div class="row">
                                <div class="col-md-auto">
                                    <div class="row">
                                        <div class="col-md-auto">
                                            <i class="fa fa-angle-down fa-lg"></i>
                                        </div>
                                        <div class="col-md-auto">
                                            <h5 class="card-title">
                                                Columns
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" id="descripcionTable">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead class="thead-light text-center">
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">key</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Data type</th>
                                            <th scope="col">Not null</th>
                                            <th scope="col">References</th>
                                            <th scope="col">Description</th>
                                            <th scope="col">Data Owner</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center">
                                        <tr *ngFor="let descriptionTable of descriptionTables">
                                            <td>{{descriptionTable.ordinalPosition}}</td>
                                            <td><span style="color: rgb(201, 188, 13);"><i
                                                        class="fa fa-key fa-lg"></i></span>
                                            <td>{{descriptionTable.columnName}}</td>
                                            <td>{{descriptionTable.dataType}}</td>
                                            <td>
                                                <div *ngIf="descriptionTable.isNullable == 'NO'"><i class="fa fa-check"></i>
                                                </div>
                                            </td>
                                            <td>ee</td>
                                            <td>ff</td>
                                            <td>gg</td>
                                        </tr>
                                        <!-- <tr>
                                            <td>2</td>
                                            <td></td>
                                            <td>bb</td>
                                            <td>cc</td>
                                            <td></td>
                                            <td>ee</td>
                                            <td>ff</td>
                                            <td>gg</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td></td>
                                            <td>bb</td>
                                            <td>cc</td>
                                            <td><i class="fa fa-check"></i></td>
                                            <td>ee</td>
                                            <td>ff</td>
                                            <td>gg</td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header bg-default">
                            <div class="row">
                                <div class="col-md-auto">
                                    <div class="row">
                                        <div class="col-md-auto">
                                            <i class="fa fa-angle-down fa-lg"></i>
                                        </div>
                                        <div class="col-md-auto">
                                            <h5 class="card-title">
                                                Relations
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover">
                                    <thead class="thead-light text-center">
                                        <tr>
                                            <th scope="col">Foreign table</th>
                                            <th scope="col">Primary table</th>
                                            <th scope="col">Join</th>
                                            <th scope="col">Title/Name/Description</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center">
                                        <tr>
                                            <td>1</td>
                                            <td>aa</td>
                                            <td>bb</td>
                                            <td>cc</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>aa</td>
                                            <td>bb</td>
                                            <td>cc</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>aa</td>
                                            <td>bb</td>
                                            <td>cc</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>